allow cameraserver system_file:dir { open read };
allow cameraserver hal_allocator:fd use;

# Read GCE initial metadata file
allow cameraserver initial_metadata_file:file r_file_perms;

gpu_access(cameraserver)
